<script>
        var latitudine = 41.95072;
        var longitudine = 12.15279;
        var map = L.map('demoMap').setView([latitudine, longitudine], 100);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',{
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
        L.control.scale().addTo(map);
        var marker = L.marker([latitudine, longitudine]).bindPopup('My House').addTo(map);

        function CambioCoordinate()
        {
            map.removeLayer(marker)
            latitudine = 41.91063;
            longitudine = 12.49304;
            map.setView([latitudine, longitudine], 16);
            L.marker([latitudine, longitudine]).bindPopup('Posteggio Taxi').addTo(map);
        }
        function CasaMia()
        {
            navigator.permissions.query({name:'geolocation'})
                .then(function(permissionStatus) {
                    console.log('geolocation permission state is ', permissionStatus.state);
                    permissionStatus.onchange = function() {
                    console.log('geolocation permission state has changed to ', this.state);
                    };
            });
            if (navigator.geolocation) 
            {
                navigator.geolocation.getCurrentPosition(showPosition, showError);
            } 
            else 
            {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        }       

        function showPosition(position)
        {
            map.removeLayer(marker)
            latitudine = parseFloat(position.coords.latitude);
            longitudine = parseFloat(position.coords.longitude);
            map.setView([latitudine, longitudine], 16);
            L.marker([latitudine, longitudine]).bindPopup('Casa Mia').addTo(map);
        }

        function showError(error)
            {
                switch(error.code) 
                {
                    case error.PERMISSION_DENIED:
                        alert("User denied the request for Geolocation.");
                        break;
                    case error.POSITION_UNAVAILABLE:
                        alert("Location information is unavailable.");
                        break;
                    case error.TIMEOUT:
                        alert("The request to get user location timed out.");
                        break;
                    case error.UNKNOWN_ERROR:
                        alert("An unknown error occurred.");
                        break;
                }
            }
    </script>