<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="Corsi">Corsi</a></li>
                <li>Pagina2</li>
                <li>Pagina3</li>
                <li>Pagina4</li>
                <li>Pagina5</li>
            </ul>
        </nav>
    </header>
    <h1>Sono la view per l'action Index di HomeController</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos consequatur quas dignissimos, eveniet dolorem ipsum. Voluptatem labore ut distinctio quos tempora sapiente facilis quis. Expedita reprehenderit totam impedit eligendi aspernatur!</p>
    <p>Provident accusantium fugiat nesciunt, architecto fuga recusandae molestiae quo corrupti mollitia reprehenderit labore earum officiis officia ex possimus dignissimos laboriosam eum quidem, ipsa est, corporis explicabo inventore quasi ipsum. Odio!</p>
    <p>Illo exercitationem ad pariatur? Quas veritatis repellat nesciunt, esse dignissimos a, labore blanditiis rem minima ex, rerum officia accusamus consectetur! Consectetur cum obcaecati eaque. Earum distinctio voluptates nobis dolorum quibusdam?</p>
    <p>Culpa quod alias placeat maiores sint dicta sapiente minima doloremque itaque vero praesentium voluptatum dolorem deserunt mollitia earum odio aperiam, accusamus tempore fugiat cumque vel ad iusto voluptates modi! At.</p>
    <p>Sint ipsam nulla provident temporibus eos ut nobis beatae ullam, nostrum reiciendis, quas voluptatibus iure veniam harum nisi? Nemo, nam excepturi tempora maxime dignissimos harum iure repudiandae quidem eos saepe?</p>
    <footer>
        <p>Contattaci al numero...</p>
    </footer>
</body>
</html>