<h1>Catalogo dei corsi</h1>
@for(int i = 0; i < 10; i++)
{
    <div class="row course">
        <div class="col-md-1">
            <img src="~/Free_logo.svg" width="52" height="52" alt="Logo">
        </div>
        <div class="col-md-5">
            <h2>Titolo del corso</h2>
            <author>di Nome Autore</author>
        </div>
        <div class="col-md-2 rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>
        <div class="col-md-2 price">
            EUR 9.99<br/>
            <s>EUR 12.99</s>
        </div>
        <div class="col-md-2 d-flex align-item-center">
            <a class="btn btn-outline-primary" asp-action="Detail" asp-controller="Corsi" asp-route-id="5">Dettagli</a>
        </div>
    </div>
}